<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mathieumaree.alfred.powerlock</string>
	<key>connections</key>
	<dict>
		<key>42354C9A-297C-4834-AB50-CC3F4F45C061</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CEF68225-07A0-46B5-9114-7D5325630BA8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BA3BADEE-3A71-43F5-B242-1B35174320A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>651654A5-8E3A-4076-9C58-46B3B1E9481B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>88973E0E-B8A7-4881-AAB3-BA6E2F5DA657</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42354C9A-297C-4834-AB50-CC3F4F45C061</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mathieu Marée</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>PowerLock</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	using terms from application "Spotify"
		tell application "Spotify" to pause
	end using terms from
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>CEF68225-07A0-46B5-9114-7D5325630BA8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>lockalll</string>
				<key>subtext</key>
				<string>Pause Spotify and mute + lock computer</string>
				<key>text</key>
				<string>Power lock</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>88973E0E-B8A7-4881-AAB3-BA6E2F5DA657</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>6</integer>
				<key>confirm</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>BA3BADEE-3A71-43F5-B242-1B35174320A4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>42354C9A-297C-4834-AB50-CC3F4F45C061</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  set volume with output muted
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>651654A5-8E3A-4076-9C58-46B3B1E9481B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>42354C9A-297C-4834-AB50-CC3F4F45C061</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>651654A5-8E3A-4076-9C58-46B3B1E9481B</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Mute system</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>88973E0E-B8A7-4881-AAB3-BA6E2F5DA657</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>BA3BADEE-3A71-43F5-B242-1B35174320A4</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>CEF68225-07A0-46B5-9114-7D5325630BA8</key>
		<dict>
			<key>note</key>
			<string>Pause spotify</string>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
