<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mathieumaree.alfred.desktopicons</string>
	<key>connections</key>
	<dict>
		<key>3BBB8977-12A8-4983-8343-3679BCBA7F7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFC250C5-A544-445D-994E-62C643609EC4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6850793A-0498-456C-A90C-65DF24E17BB0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4BE0DA9D-D91D-4173-A6D4-ECC9B16E0D9F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mathieu Marée</string>
	<key>description</key>
	<string>Hide / show desktop icons</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hide Desktop Icons</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hideicons</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Hide desktop icons</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3BBB8977-12A8-4983-8343-3679BCBA7F7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>defaults write com.apple.finder CreateDesktop false &amp;&amp; killall Finder</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FFC250C5-A544-445D-994E-62C643609EC4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>showicons</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Show desktop icons</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6850793A-0498-456C-A90C-65DF24E17BB0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>defaults write com.apple.finder CreateDesktop true &amp;&amp; killall Finder</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4BE0DA9D-D91D-4173-A6D4-ECC9B16E0D9F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3BBB8977-12A8-4983-8343-3679BCBA7F7A</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>4BE0DA9D-D91D-4173-A6D4-ECC9B16E0D9F</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>6850793A-0498-456C-A90C-65DF24E17BB0</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>FFC250C5-A544-445D-994E-62C643609EC4</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
